{% extends 'base.html' %}

{% block content %}
<p style="margin-top:15px"><a href=#">Catfly</a>&nbsp;{{ blogs|length }}篇文章</p>
<ul class="list-group pagination" style="box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);">
	{% for blog in blogs %}
	<li class="list-group-item"><a href=#>{{ blog }}</a></li>
	{% endfor %}
</ul>
<nav style="margin-top:10px">
	<ul class="pagination pagination-sm justify-content-end">
		<li class="page-item"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
	</ul>
</nav>

{% endblock %}
