{% extends 'base.html' %}
{% block content %}
{{ moment.include_moment() }}
<div class="card mb-3" style="max-width: 18rem; margin-top:5%">
	<div class="card-header">关于作者</div>
	<div class="card-body">
		<img src="{{ url_for('static',filename='avatar.png') }}">
		<h5 class="card-title">Catfly</h5>
		<p class="card-text">爱编程</p>
		<p class="card-text">更爱生活</p>
		<p class="card-text"><lemonyyuan@gmail.com</p>
		<p class="card-text"><small class="text-muted">Last updated {{ moment(blog.timestamp).fromNow() }}</small></p>
	</div>
</div>
{% endblock %}
